*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}


img{
    width: 100%;
}

/* section */
 .webapp{
    flex-grow: 1;
    background-color: black;
 }

.webapp__content{
    height: 100vh;
    display: flex;
    flex-direction: column;  
}
.img-container{
    display: flex;
    flex-wrap: wrap;    
    padding: 80px 80px 20px 80px;
}

.webapp__img-prop{
    object-fit: fill;
    width: 250px;
}

.webapp__img{
    position: relative;
}

.zoom-id{
    position: absolute;
    left: 0;
    bottom: 5px;
    
}
.zoom-id__color{
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.301);
    color: white;
}
/* debug */

.debug .webapp-content{
    background-color: black;
    padding-top: 50px;
}

.debug .webapp-toolbar{
    background-color: grey;
    padding: 30px;
}