*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}


img{
    width: 100%;
}

/* Main section */
 .webapp{
    flex-grow: 1;
    background-color: black;
    position: relative;
    overflow-y: scroll
 }

 .webapp__tools{
    font-size: 12px;
    color: white;
    background-color: #4A4A4A;
    position: absolute;
    top: 0;
    right: 0;
    gap: 5px;
 }
.webapp__content{
    height: 100vh;
    display: flex;
    flex-direction: column;  
}
.img-container{
    display: flex;
    flex-wrap: wrap;    
    padding: 60px 60px 20px 60px;
}

.webapp__img-prop{
    object-fit: fill;
    width: 250px;
}

.webapp__img{
    position: relative;
}

.zoom-id{
    position: absolute;
    left: 0;
    bottom: 5px;   
}
.zoom-id__color{
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.301);
    color: white;
    width: 90px;
    line-height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mic-icon{
    margin-right: 3px;
}

/* Toolbar */
.webapp-toolbar{
    background-color: #222222;
    color: white;
    justify-content: space-between;
    min-height: 7vh;
}
.row{
    display: flex;
    flex-wrap: nowrap;
}
.webapp-toolbar__section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.webapp-toolbar__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbar-icon{
    padding: 0px 20px;
    font-size: 25px;
}

.icon-name{
    font-size: 12px;
    margin-top: 8px;
}

.arrow-icon{
    font-size: 12px;
    padding: 0px 10px;
}

.share-button{
    color: #4BC800;
}
.end-button{
    background-color: #4A4A4A;
    font-size: 12px;
    color: red;
    padding: 0px 10px;
}